@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Regular.ttf);
}

@media (max-width: 768px) {
.header_container {
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
    	margin: 0 16px !important;
	padding: 24px 0 0 0 !important;
	}
.footer_container {
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: 768px;
    	margin: 0 16px !important;
	padding: 24px 0 0 0 !important;}
.footer_p {max-width: 768px !important; margin: 0 24px !important;}
.big_title {font-size: 32px !important;}
.big_subtitle {font-size: 20px !important;}
.page_img {
	width: 100%;
	border-radius: 12px, 12px, 0px, 0px !important;
	}
.page_content {
	max-width: 343px !important;
	border-radius: 12px;
	margin: 32px 24px !important;
	padding: 24px;
	}
.page_container {
	max-width: 295px !important;
	gap: 24px;
	}
	
.big_additional-info {
	flex-direction: column !important;
    	justify-content: center;
    	align-items: center;
	}
	
.big_text {font-size: 16px !important;}
.elem {font-size: 16px !important;}
.big_parametrs-header {font-size: 24px !important;}
}


a {text-decoration: none; color:black;}

body {background: #F1F1F1; margin: 0 auto;}

.header {
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: 100%;
    border-bottom: 1px solid #c7c7c7;
}

.footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#121723;
    width: 100%
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    max-width: 1300px;
    padding: 24px 0;
    margin: 0 150px;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    max-width: 1300px;
    padding: 24px 0;
    margin: 0 150px;
}

li {display: inline-flex;
    list-style: none;
    font-size: 20px;
    font-weight: 700px;
    line-height: 20px;
    gap: 24px;
}

ul {
    display: flex;
    list-style: none;
    font-size: 20px;
    font-weight: 700px;
    line-height: 20px;
    gap: 24px;
}

.footer_links {
    display: inline;
    list-style: none;
    display:flex;
    font-size: 20px;
    font-weight: 700px;
    line-height: 20px;
    gap: 24px;
}

.header_links{
    display: inline;
    list-style: none;
    display:flex;
    font-size: 20px;
    font-weight: 700px;
    line-height: 20px;
    gap: 24px;
}

.footer_links a {
    color: white;
    display:flex;
    text-decoration: none;
}

.footer_p {
    display: flex;
    color: #A1A6B4;
    text-align: center;
    justify-content: center;
    margin: 0 150px;
    border-top: 1px solid white;
    padding: 24px 0;
}

.main {
    display: flex;
    width: Fill (1440px);
    justify-content: center;
    gap: 48px;
}

.page_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width:  1044px;
    margin: 32px 0px;
    padding: 48px;
    border-radius: 50px;
    gap: 32px;
    background: white;
}

.page_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1044px;
    width: 100%;
    gap: 24px;
}

.big_additional-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: Fill (1044px);
    gap: 24px;
}

.big_title {
    font-family: 'Anonymous Pro';
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}

.big_subtitle {
    font-family: 'Anonymous Pro';
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.big_text {
    font-family: 'Anonymous Pro';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 506px;
    width: 100%;
}

.big_parameters {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    max-width: 506px;
    flex-shrink: 0;
    width: 100%;
    gap: 24px;
}

.big_parametrs-header {
    font-family: 'Anonymous Pro';
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    border-bottom: 1px solid;
    padding-bottom: 21px;
}

.elem {
    font-family: 'Anonymous Pro';
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    padding-bottom: 21px;
}

.logo {width: 212.34px;
    height: 63.24px;
    }

.logo2 {
    width: 299.65px;
    height: 22.32px;
}

.page_img {
    border-radius: 50px, 50px, 0px, 0px;
}
