@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Regular.ttf);
}

@media (max-width: 768px) {
.header_container {
	flex-direction: column;
	justify-content: space-between;
	align-content: space-between;
	align-items: center;
	padding: 24px 16px 24px 0;
	background: red;
	}
.footer_container {
	flex-direction: column;
	justify-content: space-between;
	justify-content: space-between;
	align-items: center;
	padding: 24px 16px 24px 0;
	}

.header_links {
	width: Hug (108px);
	height: Hug (20px);
	      }
.footer_links {
	width: Hug (108px);
	height: Hug (20px);
	      }
.subtitle {font-size: 32px;}
	
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 16px;
    margin: 0;
	}
}

a {text-decoration: none; color:black;}

body {background: #F1F1F1; margin: 0;}

.header {
    display: block;
    flex-direction: column;
    align-items: center;
    background: white;
}

.footer {
    display: block;
    flex-direction: column;
    align-items: center;
    background-color:#121723;
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 16px 150px;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 16px 150px;
}

ul {
    list-style: none;
    display:flex;
    font-size: 20px;
    font-weight: 700px;
    line-height: 20px;
    gap: 24px;
}

.footer_links a {
    color: white;
    display:flex;
    text-decoration: none;
}

.footer_p {
    color: #A1A6B4;
    text-align: center;
}

.footer_line {
    border: none;
    border-top: 1px solid #c7c7c7;
    width: 73%;
}

.header_line {
    border: none;
    border-top: 1px solid #c7c7c7;
}

.subtitle {
    font-family: "Anonymous Pro", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
}

li {
    display: inline;
    list-style: none;
}

.logo {width: 212.34px;
    height: 63.24px;
    }

.logo2 {
    width: 299.65px;
    height: 22.32px;
}

.main {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 150px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.big_container {
	 display: flex;
    	flex-wrap: wrap;
    	justify-content: space-between;
   	align-content: flex-start;
    	gap: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 72px;
    max-width: 371px;
    font-family: "Anonymous Pro", sans-serif;
    justify-content: space-between; 
    border-radius: 12px;
}

.text {
    background: white;
    display: inline-block;
    max-width: 371px;
    flex-direction: column;
    border-radius: 0 0 12px 12px;
    padding: 0 24px;
}

.container__title {
    font-size: 26px;
    font-weight: 700;
}

.container__text {
    font-size: 20px;
    font-weight: 400;
}

.img_sneakers {
    width: 371px;
    height: 254px;
    border-radius: 12px, 12px, 0px, 0px;
}
